@import url(fonts.googleapis.com/css?family=Open+Sans);
p {
  color: #aeaeae;
  font-family: "PT Serif";
  font-size: 16px;
  line-height: 30px; }

.nopadding {
  margin: 0 !important;
  padding: 0 !important; }

body .p-number {
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 64px;
  line-height: 28px;
  color: #e8e8e8; }
body .green-text {
  color: #66a900; }
body #wrapper {
  width: 100%;
  margin: 0 auto; }
  body #wrapper .top-shape {
    width: 100%; }
  body #wrapper .bottom-shape {
    width: 100%; }
  body #wrapper header {
    background: url("../img/images/background-img.jpg") no-repeat;
    background-size: cover;
    background-position: 100%; }
    body #wrapper header nav #logo {
      padding-top: 36px; }
    body #wrapper header nav ul {
      padding-top: 36px;
      text-align: right;
      font-size: 0; }
      body #wrapper header nav ul li {
        display: inline; }
        body #wrapper header nav ul li a {
          display: inline-block;
          text-decoration: none !important;
          margin: 16px;
          font-family: "PT Serif";
          font-size: 14px;
          color: #ffffff; }
      body #wrapper header nav ul li:last-child a {
        margin-right: 0px; }
      body #wrapper header nav ul li:first-child a {
        margin-left: 0px; }
    body #wrapper header .heading {
      padding-left: 47px;
      padding-top: 236px; }
      body #wrapper header .heading h1 {
        text-shadow: 0px 2px 16px rgba(0, 0, 0, 0.29);
        font-size: 50px;
        font-family: "Poppins";
        color: #ffffff;
        text-transform: uppercase;
        line-height: 52px;
        font-weight: 500; }
      body #wrapper header .heading p {
        padding-top: 20px;
        font-family: "PT Serif";
        font-size: 16px;
        color: #ffffff;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.5px;
        padding-bottom: 255px; }
  body #wrapper #about #background-girl-image-1 {
    background: url("../img/images/girl-image-1-bg.png");
    background-size: cover;
    background-position: 100%; }
  body #wrapper #about #background-girl-image-2 {
    background: url("../img/images/girl-image-2-bg.png");
    background-size: cover;
    background-position: 1%; }
  body #wrapper #about .first-article {
    padding-top: 65px;
    padding-bottom: 65px; }
  body #wrapper #about .second-article {
    padding-bottom: 75px; }
  body #wrapper #about h2 {
    display: inline;
    font-family: "Poppins";
    font-size: 30px;
    line-height: 28px;
    color: #333333; }
  body #wrapper #about p:first-of-type {
    padding-top: 40px; }
  body #wrapper #about .lead {
    font-family: "Poppins";
    font-size: 16px;
    line-height: 30px;
    color: #999999;
    letter-spacing: 1px; }
    body #wrapper #about .lead img {
      padding-right: 10px; }
  body #wrapper #interlude {
    padding-bottom: 30px;
    background: url("../img/images/bottom-shape.png") no-repeat; }
    body #wrapper #interlude .container {
      padding-top: 160px; }
      body #wrapper #interlude .container .col-sm-3:last-of-type {
        padding-top: 10px; }
      body #wrapper #interlude .container h2 {
        display: inline;
        font-family: "PT Serif";
        font-size: 30px;
        line-height: 30px;
        font-weight: 700;
        color: #ffffff; }
      body #wrapper #interlude .container img {
        margin-top: 40px;
        padding-left: 30px; }
      body #wrapper #interlude .container p {
        font-family: "Poppins Light";
        font-size: 14px;
        line-height: 30px;
        color: #ffffff;
        letter-spacing: 1px;
        padding-top: 10px; }
      body #wrapper #interlude .container .btn {
        height: 57px;
        width: 270px;
        background-color: #ffffff; }
        body #wrapper #interlude .container .btn p {
          font-family: "PT Serif";
          font-size: 16px;
          color: #66a900;
          line-height: 26px; }
  body #wrapper #second-section #carousel div {
    position: absolute;
    text-align: center;
    font-size: 100px;
    top: 325%;
    border-radius: 10px;
    width: 40%;
    height: 100%;
    -webkit-user-select: none; }
  body #wrapper #second-section #carousel .client-1 {
    top: 325%;
    opacity: 1;
    z-index: 500;
    left: 10%;
    transform: matrix(0.75, 0, 0, 0.75, 0, 0); }
  body #wrapper #second-section #carousel .client-2 {
    top: 320%;
    opacity: 1;
    z-index: 300;
    left: 0%;
    transform: matrix(0.75, 0, 0, 0.75, 0, 0); }
  body #wrapper #second-section #carousel .client-3 {
    top: 320%;
    opacity: 1;
    z-index: 300;
    left: 20%;
    transform: matrix(0.75, 0, 0, 0.75, 0, 0); }
  body #wrapper #second-section #background-girl-image-3 {
    padding-top: 139px;
    background: url("../img/images/girl-image-3-bg.png") no-repeat;
    background-size: cover;
    background-position: 100%; }
    body #wrapper #second-section #background-girl-image-3 .third-article {
      padding-bottom: 200px; }
  body #wrapper #second-section h2 {
    display: inline;
    font-family: "Poppins";
    font-size: 30px;
    line-height: 28px;
    color: #333333; }
  body #wrapper #second-section .accept-icon {
    padding-right: 10px; }
  body #wrapper #second-section .col-sm-6 h3 {
    font-family: "Poppins";
    font-size: 18px;
    line-height: 28px; }
  body #wrapper #second-section .col-sm-6 p {
    font-family: "PT Serif";
    font-size: 14px;
    line-height: 24px; }
  body #wrapper #second-section h4 {
    font-family: "Poppins";
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0; }
  body #wrapper #third-section h2 {
    display: inline;
    font-family: "Poppins";
    font-size: 30px;
    line-height: 28px;
    color: #333333; }
  body #wrapper #third-section p {
    font-family: "PT Serif";
    font-size: 16px;
    line-height: 24px; }

/*# sourceMappingURL=main.css.map */
