

$primary-color: #333
$white: #ffffff
$serif: 'PT Serif'
$black: #000000
$poppins: "Poppins"
$dark-grey: #333333

p
  color: #aeaeae
  font-family: $serif
  font-size: 16px
  line-height: 30px

.nopadding
  margin: 0 !important
  padding: 0 !important

.green-text
  color: #66a900

.p-number
  font-family: $serif
  font-weight: 700
  font-size: 64px
  line-height: 28px
  color: #e8e8e8


body
  #background-girl-image-1
    background-image: url("../img/images/girl-image-1-bg.png")
    background-size: cover
    background-position: 100%
    padding-top: 50px

  #background-girl-image-2
    background-image: url("../img/images/girl-image-2-bg.png")
    background-size: cover
    background-position: 1%
    padding-top: 100px

  .first-int
    width: 100%
  .second-int
    width: 100%

  #wrapper
    max-width: 100%
    margin: 0 auto

    .top-shape
      width: 100%

    header
      background: url("../img/images/background-img.jpg") no-repeat
      background-size: cover
      background-position: 100% 100%

      .heading
        padding-left: 47px
        padding-top: 236px

      h1
        text-shadow: 0px 2px 16px rgba(0,0,0,0.3)
        font-size: 50px
        font-family: "Poppins"
        color: $white
        text-transform: uppercase
        line-height: 52px
        font-weight: 500
      p
        padding-top: 20px
        font-family: $serif
        font-size: 16px
        color: $white
        font-weight: 500
        line-height: 28px
        letter-spacing: 0.5px
        padding-bottom: 255px

      nav
        .row
          text-align: center
        img
          padding-top: 36px
          float: left

        ul
          padding-top: 36px
          text-align: right
          font-size: 0

          li
            display: inline

            a
              display: inline-block
              text-decoration: none !important
              margin: 16px
              font-family: $serif
              font-size: 14px
              color: $white

          li:last-child
            a
              margin-right: 0px

          li:first-child
            a
              margin-left: 0px

    #about

      .first-article
        padding-top: 65px
        padding-bottom: 65px



      .second-article
        padding-bottom: 75px

      h2
        display: inline
        font-family: $poppins
        font-size: 30px
        line-height: 28px
        color: $dark-grey

      p:first-of-type
        padding-top: 40px

      .lead
        font-family: $poppins
        font-size: 14px
        line-height: 24px
        color: #999999
        letter-spacing: 1px

        .circle
          display: inline-block
          height: 40px
          width: 40px
          border-radius: 50%
          background-color: #66a900
          -webkit-border-radius: 50%
          -moz-border-radius: 50%
          margin-right: 10px

        #circle:hover
          background: #7ecc00
          text-decoration: none

        a
          font-size: $poppins
          font-size: 15px
          height: 40px
          line-height: 40px
          color: $white
          text-decoration: none
          underline: none
          text-align: center

    #first-interlude

      .container

        .row-1
          margin-top: -8em

        .column-3
          padding-top: 10px

        h2
          display: inline
          font-family: $serif
          color: $white
          font-size: 32px
          line-height: 16px
          font-weight: 700

        img
          margin-top: 40px

        p
          font-family: "Poppins Light"
          font-size: 14px
          line-height: 30px
          color: $white
          letter-spacing: -0.3px
          padding-top: 10px

        .btn
          height: 57px
          max-height: 100%
          width: 270px
          max-width: 100%
          background-color: $white
          font-family: $serif
          font-size: 16px
          color: #66a900
          line-height: 26px

    #second-section
      #carousel
        position: relative
        width: 1600px
        max-width: 100%
        padding-top: 100px

        img
          position: absolute
          text-align: center
          color: white
          border-radius: 10px
          height: 100%
          -webkit-user-select: none
        div
          text-align: center
          color: white
          border-radius: 10px
          height: 100%
          width: 100%
          -webkit-user-select: none

        .client-1
          left: 12%
          display: block
          height: auto
          width: 370px
          transition-duration: 0.5s

        .client-2
          opacity: 0.1
          z-index: 300
          left: 9%
          display: block
          height: auto
          transition-duration: 0.5s

        .client-3
          opacity: 0.1
          z-index: 300
          left: 24%
          display: block
          height: auto
          transition-duration: 0.5s
        #car-buttons
          position: absolute
          height: 300px
          width: 500px
          margin-left: 120px
          max-width: 100%

          #car-left
            position: absolute
            width: 34px
            height: 34px
            background-color: #333333
            border-radius: 50%
            z-index: 600
            font-size: 18px
            line-height: 35px
            left: 20%
            top: 130px
            max-width: 100%

          #car-left:hover
            background-color: #66a900
            border: solid 4px #BBD196
            line-height: 27px

          #car-right
            position: absolute
            width: 34px
            height: 34px
            background-color: #333333
            border-radius: 75%
            z-index: 600
            font-size: 18px
            line-height: 35px
            right: 15%
            top: 130px

          #car-right:hover
            background-color: #66a900
            border: solid 4px #BBD196
            font-size: 18px
            line-height: 27px 

      #background-girl-image-3
        padding-top: 139px
        background: url("../img/images/girl-image-3-bg.png") no-repeat
        background-size: cover
        background-position: 80%

        .third-article
          padding-bottom: 50px

          p
            font-family: $serif
            font-size: 14px
            line-height: 24px

          .padding-maker
            padding-top: 40px

      h2
        display: inline
        font-family: $poppins
        font-size: 30px
        line-height: 28px
        color: $dark-grey

      .accept-icon
        padding-right: 10px

      h3
        font-family: $poppins
        font-size: 18px
        line-height: 28px

      .quotes
        .quote-block
          p
            font-family: $serif
            font-size: 14px
            line-height: 24px
            padding-left: 40px
            letter-spacing: -0.5px

          p:before
            font-family: "FontAwesome"
            content: "\f10d"
            font-size: 20px
            position: absolute
            font-style: normal
            font-weight: normal
            top: 80px
            left: 15px
            color: #333333
            opacity: .1

          p:nth-of-type(1)
            font-style: italic
            padding-top: 50px
            padding-bottom: 15px 

          h4
            font-family: $poppins
            font-size: 16px
            line-height: 14px
            padding-left: 40px


    #third-section
      padding-top: 200px

      h2
        display: inline
        font-family: $poppins
        font-size: 40px
        line-height: 28px
        color: $dark-grey

      p
        font-family: $serif
        font-size: 16px
        line-height: 30px

      p:first-of-type
        padding-top: 50px
    #prices-section
      #prices
        display: block
        background-image: url('../img/images/price-background.png')
        background-repeat: no-repeat
        background-position: bottom center
        background-size: 100% 150px
        .container
          .box
            z-index: 1
            width: 100%
            max-width: 350px
            display: inline-block
            height: 460px
            -webkit-box-shadow: 0px 0px 45px -10px rgba(0,0,0,0.3)
            -moz-box-shadow: 0px 0px 45px -10px rgba(0,0,0,0.3)
            box-shadow: 0px 0px 45px -10px rgba(0,0,0,0.3)
            text-align: center
            padding: 0
            padding: 50px 0 100px
            margin-top: 50px
            
            h2
              display: inline
              font-family: $poppins
              font-size: 40px
              line-height: 28px
              color: $dark-grey

            p
              font-family: $serif
              font-size: 16px
              line-height: 30px
            h3
              font-size: 14px
              line-height: 28px
              text-transform: uppercase
              font-family: $poppins

            i
              margin-left: 10px

            .button:hover
              background: #66a900
              cursor: pointer
              transition-duration: 0.5s
              color: $white

            h3:hover
              color: #66a900
              cursor: pointer
              text-decoration: underline
              transition-duration: 0.3s


            p
              padding-top: 10px
              font-size: 14px
              line-height: 28px
              font-family: $serif
              padding: 10px
              font-weight: bold

            .button
              background: #f6f6f6
              height: 42px
              padding: 0
              text-transform: uppercase
              letter-spacing: 1.4px
              line-height: 42px
              border-left: 3px solid #66a900
              border-right: 3px solid #66a900
              padding-top: 10px
              font-size: 14px
              line-height: 28px
              font-family: $poppins


          .box-1
            background-image: url('../img/images/price-box-overlay-1.png')
            background-repeat: no-repeat
            background-position: bottom center

          .box-2
            background-image: url('../img/images/price-box-overlay-2.png')
            background-repeat: no-repeat
            background-position: bottom center

          .box-3
            background-image: url('../img/images/images/price-box-overlay-3.png')
            background-repeat: no-repeat
            background-position: bottom center

    #second-interlude
      .container
        max-width: 100%

        .row-1
          margin-top: -120px

        .col-md-3:last-of-type
          padding-top: 20px

        h2
          display: inline
          font-family: $serif
          color: $white
          font-size: 32px
          line-height: 16px
          font-weight: 700

        img
          margin-top: 40px

        p
          font-family: "Poppins Light"
          font-size: 14px
          line-height: 30px
          color: $white
          letter-spacing: -0.3px
          padding-top: 10px
        
        .btn
          height: 57px
          max-height: 100%
          width: 270px
          max-width: 100%
          background-color: $white
          font-family: $serif
          font-size: 16px
          color: #66a900
          line-height: 26px

    footer
      padding-top: 80px
      padding-bottom: 20px

      img
        padding-right: 10px

      p
        font-family: $serif
        font-size: 14px
        line-height: 28px

      li
        display: inline-block
        margin: 10px
        float: right
        
        a
          font-family: $serif
          font-size: 14px
          line-height: 28px
          color: #aeaeae

        a:hover
          font-size: 16px
          text-decoration: underline
          transition-duration: 10s

@media (max-width: 1300px)
  body
    #wrapper
      #about
        #background-girl-image-1
          background-image: url("../img/images/girl-image-1-bg.png")
          background-size: cover
          background-position: 72%

        #background-girl-image-2
          background-image: url("../img/images/girl-image-2-bg.png")
          background-size: cover 200px
          background-repeat: no-repeat
          background-position: 5%
          height: 490px


@media (max-width: 1200px)
  body
    #wrapper
      .arrow
        display: none

      .first-int
        height: 250px

      #about
        .lead
          font-family: $poppins
          font-size: 12px
          line-height: 20px
          color: #999999
          letter-spacing: 1px
      #second-section
        #background-girl-image-3
          padding-top: 100px
          background: url("../img/images/girl-image-3-bg.png") no-repeat
          background-size: cover
          background-position: 100%

      #second-interlude
        .container
          max-width: 100%

          .row-1
            margin-top: -120px

          h2
            display: inline
            font-family: $serif
            color: $white
            font-size: 32px
            line-height: 16px
            font-weight: 700

          img
            margin-top: 40px

          p
            font-family: "Poppins Light"
            font-size: 14px
            line-height: 30px
            color: $white
            letter-spacing: -0.3px
            padding-top: 10px
          
          .btn
            height: 57px
            max-height: 100%
            width: 270px
            max-width: 100%
            background-color: $white
            font-family: $serif
            font-size: 16px
            color: #66a900
            line-height: 26px

        .second-int
          height: 200px

@media (max-width: 992px)
  body
    #wrapper
      #about
        #background-girl-image-1
          background-image: none

        #background-girl-image-2
          background-image: none

      #second-section
        #background-girl-image-3
          background: none

      #prices-section
        #prices
          
          .container
            .box-1
              background-image: none

            .box-2
              background-image: none

            .box-3
              background-image: none
              margin-bottom: 160px

      .second-int
        height: 100px

      .first-int
        height: 250px

      #first-interlude

        .container

          .row-1
            margin-top: -8em

          .column-3
            padding-top: 10px

          h2
            display: inline
            font-family: $serif
            color: $white
            font-size: 32px
            line-height: 16px
            font-weight: 700

          img
            margin-top: 40px

          p
            font-family: "Poppins Light"
            font-size: 14px
            line-height: 30px
            color: $white
            letter-spacing: -0.3px
            padding-top: 10px

          .btn
            height: 57px
            max-height: 100%
            width: 270px
            max-width: 100%
            background-color: $white
            font-family: $serif
            font-size: 16px
            color: #66a900
            line-height: 26px

@media (max-width: 768px)
  body
    #wrapper
      .p-number
        font-size: 72px
      header
        background-position: left
        padding-bottom: 250px

        nav
          img
            margin-left: 10px

        .heading
          padding-top: 200px

          h1
            font-size: 60px
            line-height: 64px
          p
            font-size: 26px
            line-height: 34px
            letter-spacing: 0.7px
      #about
        h2
          font-size: 42px
          line-height: 42px
        p
          font-size: 22px
          line-height: 32px

        p:first-of-type
          padding-top: 20px

        .lead
          font-size: 20px
          line-height: 40px
          letter-spacing: 0px

      #first-interlude
        .row-1

          h2
            font-size: 32px
            line-height: 16px
            font-weight: 700
            color: $white

          p
            font-family: "Poppins Light"
            font-size: 20px
            color: $white
            letter-spacing: 0px

          .btn
            height: 57px
            width: 200px
            background-color: $white

            p
              font-family: $serif
              font-size: 16px
              color: #66a900
              line-height: 26px

        .first-int
          height: 220px
      #second-section

        #background-girl-image-3
          background-position: 0%

          .third-article
            padding-bottom: 100px

            p
              font-size: 20px
              line-height: 32px

            h2
              font-size: 42px

            .padding-maker
              padding-top: 30px

            .accept-icon
              padding-right: 10px

            h3
              font-size: 26px
              line-height: 28px

        .container
          .row
            .column-1

              h2
                font-size: 42px

              p
                font-size: 22px
                line-height: 34px

              p:nth-child(1)
                padding-top: 40px
                padding-bottom: 10px

              #student-info
                text-align: right
                padding-top: 40px
              
              img
                padding-top: 25px

              h4
                font-size: 20px
                padding-left: 40px
                float: right

      #third-section
        .container

          h2
            font-size: 42px

          p
            font-family: $serif
            font-size: 22px
            line-height: 32px

          .box
            width: 100%
            margin: 0 auto
            padding-top: 50px
            margin-top: 50px

            h3
              font-size: 22px
              line-height: 32px

            i
              margin-left: 10px

            p
              font-size: 18px
              line-height: 32px
              padding: 10px 30px
              font-weight: bold

            .button
              font-size: 22px

      #carousel
        display: none
      
      .arrow
        display: none

      #second-interlude
        .row-1
          h2
            font-size: 32px
            line-height: 16px
            font-weight: 700
            color: $white

          p
            font-family: "Poppins Light"
            font-size: 20px
            color: $white
            letter-spacing: 0px

          .btn
            height: 57px
            width: 200px
            background-color: $white

            p
              font-family: $serif
              font-size: 16px
              color: #66a900
              line-height: 26px