$primary-color: #333
$white: #ffffff
$serif: "PTSerif Regular"
$black: #000000
$poppins: "Poppins"
$dark-grey: #333333

p
	color: #aeaeae
	font-family: $serif
	font-size: 16px
	line-height: 30px

.nopadding
	margin: 0 !important
	padding: 0 !important


body
	.p-number
		font-family: $serif
		font-weight: 700
		font-size: 64px
		line-height: 28px
		color: #e8e8e8

	.green-text
		color: #66a900

	#wrapper
		width: 100%
		margin: 0 auto

		.top-shape
			width: 100%

		.bottom-shape
			width: 100%

		header
			background: url("../img/images/background-img.jpg") no-repeat
			background-size: cover
			background-position: 100%

			nav
				text-align:center
				#logo
					padding-top: 36px

				ul
					padding-top: 36px
					text-align: right
					font-size: 0

					li
						display: inline

						a
							display: inline-block
							text-decoration: none !important
							margin: 16px
							font-family: $serif
							font-size: 14px
							color: $white

					li:last-child
						a
							margin-right: 0px

					li:first-child
						a
							margin-left: 0px
		
			.heading
				padding-left: 47px
				padding-top: 236px

				h1
					text-shadow: 0px 2px 16px rgba(0,0,0,0.29)
					font-size: 50px
					font-family: "Poppins"
					color: $white
					text-transform: uppercase
					line-height: 52px
					font-weight: 500
				p
					padding-top: 20px
					font-family: $serif
					font-size: 16px
					color: $white
					font-weight: 500
					line-height: 28px
					letter-spacing: 0.5px
					padding-bottom: 255px

		#about

			.first-article
				padding-top: 65px
				padding-bottom: 65px

			.second-article
				padding-bottom: 75px

			h2
				display: inline
				font-family: $poppins
				font-size: 30px
				line-height: 28px
				color: $dark-grey

			p:first-of-type
				padding-top: 40px

			.lead
				font-family: $poppins
				font-size: 16px
				line-height: 30px
				color: #999999
				letter-spacing: 1px

				img
					padding-right: 10px

				.interlude
					position: relative

					.container
						position: absolute

		#third-section

			h2
				display: inline
				font-family: $poppins
				font-size: 30px
				line-height: 28px
				color: $dark-grey

			.accept-icon
				padding-right: 10px

			.col-sm-6

				h3
					font-family: $poppins
					font-size: 18px
					line-height: 28px

				p
					font-family: $serif
					font-size: 14px
					line-height: 24px

			h4
				font-family: $poppins
				font-size: 16px
				line-height: 28px
				margin-bottom: 0

		#fourth-section
			h2
				display: inline
				font-family: $poppins
				font-size: 30px
				line-height: 28px
				color: $dark-grey

			p
				font-family: $serif
				font-size: 16px
				line-height: 24px