@import url(fonts.googleapis.com/css?family=Open+Sans)

$primary-color: #333
$white: #ffffff
$serif: 'PT Serif'
$black: #000000
$poppins: "Poppins"
$dark-grey: #333333

p
	color: #aeaeae
	font-family: $serif
	font-size: 16px
	line-height: 30px

.nopadding
	margin: 0 !important
	padding: 0 !important


body
	.p-number
		font-family: $serif
		font-weight: 700
		font-size: 64px
		line-height: 28px
		color: #e8e8e8

	.green-text
		color: #66a900

	#wrapper
		width: 100%
		margin: 0 auto

		.top-shape
			width: 100%

		.bottom-shape
			width: 100%

		header
			background: url("../img/images/background-img.jpg") no-repeat
			background-size: cover
			background-position: 100%

			nav
				text-align:center
				#logo
					padding-top: 36px

				ul
					padding-top: 36px
					text-align: right
					font-size: 0

					li
						display: inline

						a
							display: inline-block
							text-decoration: none !important
							margin: 16px
							font-family: $serif
							font-size: 14px
							color: $white

					li:last-child
						a
							margin-right: 0px

					li:first-child
						a
							margin-left: 0px
		
			.heading
				padding-left: 47px
				padding-top: 236px

				h1
					text-shadow: 0px 2px 16px rgba(0,0,0,0.29)
					font-size: 50px
					font-family: "Poppins"
					color: $white
					text-transform: uppercase
					line-height: 52px
					font-weight: 500
				p
					padding-top: 20px
					font-family: $serif
					font-size: 16px
					color: $white
					font-weight: 500
					line-height: 28px
					letter-spacing: 0.5px
					padding-bottom: 255px

		#about
			#background-girl-image-1
				background: url("../img/images/girl-image-1-bg.png")
				background-size: cover
				background-position: 100%

			#background-girl-image-2
				background: url("../img/images/girl-image-2-bg.png")
				background-size: cover
				background-position: 1%

			.first-article
				padding-top: 65px
				padding-bottom: 65px



			.second-article
				padding-bottom: 75px

			h2
				display: inline
				font-family: $poppins
				font-size: 30px
				line-height: 28px
				color: $dark-grey

			p:first-of-type
				padding-top: 40px

			.lead
				font-family: $poppins
				font-size: 16px
				line-height: 30px
				color: #999999
				letter-spacing: 1px

				img
					padding-right: 10px

		#interlude
			padding-bottom: 30px
			background: url("../img/images/bottom-shape.png") no-repeat

			.container
				padding-top: 160px

				.col-sm-3:last-of-type
					padding-top: 10px

				h2
					display: inline
					font-family: $serif
					font-size: 30px
					line-height: 30px
					font-weight: 700
					color: $white

				img
					margin-top: 40px
					padding-left: 30px

				p
					font-family: "Poppins Light"
					font-size: 14px
					line-height: 30px
					color: $white
					letter-spacing: 1px
					padding-top: 10px

				.btn
					height: 57px
					width: 270px
					background-color: $white

					p
						font-family: $serif
						font-size: 16px
						color: #66a900
						line-height: 26px

		#second-section
			#carousel
				position: relative

				div
					position: absolute
					text-align: center
					color: white
					top: 325%
					border-radius: 10px
					height: 100%
					-webkit-user-select: none

				.client-1
					padding-top: 30px
					top: 325%
					opacity: 1
					z-index: 500
					left: 10%
					transform: matrix(0.75, 0, 0, 0.75, 0, 0)

				.client-2
					opacity: 0.1
					z-index: 300
					left: 0%
					transform: matrix(0.75, 0, 0, 0.75, 0, 0)

				.client-3
					opacity: 0.1
					z-index: 300
					left: 20%
					transform: matrix(0.75, 0, 0, 0.75, 0, 0)

				.car-left
					width: 34px
					height: 34px
					background-color: #333333
					border-radius: 50%
					left: 15.5%
					margin-top: 150px
					z-index: 600
					font-size: 18px
					line-height: 35px
				.car-left:hover
					background-color: #66a900
					border: solid 4px #BBD196
					line-height: 27px

				.car-right
					width: 34px
					height: 34px
					background-color: #333333
					border-radius: 50%
					left: 30%
					margin-top: 150px
					z-index: 600
					font-size: 18px
					line-height: 35px
				.car-right:hover
					background-color: #66a900
					border: solid 4px #BBD196
					font-size: 18px
					line-height: 27px

			#background-girl-image-3
				padding-top: 139px
				background: url("../img/images/girl-image-3-bg.png") no-repeat
				background-size: cover
				background-position: 100%

				.third-article
					padding-bottom: 200px


			h2
				display: inline
				font-family: $poppins
				font-size: 30px
				line-height: 28px
				color: $dark-grey

			.accept-icon
				padding-right: 10px

			.col-sm-6

				h3
					font-family: $poppins
					font-size: 18px
					line-height: 28px

				p
					font-family: $serif
					font-size: 14px
					line-height: 24px

			h4
				font-family: $poppins
				font-size: 16px
				line-height: 28px
				margin-bottom: 0


		#third-section
			.container
				padding-top: 200px
				h2
					display: inline
					font-family: $poppins
					font-size: 30px
					line-height: 28px
					color: $dark-grey

				p
					font-family: $serif
					font-size: 16px
					line-height: 24px