@import url(fonts.googleapis.com/css?family=Open+Sans);
p {
  color: #aeaeae;
  font-family: "PT Serif";
  font-size: 16px;
  line-height: 30px; }

.nopadding {
  margin: 0 !important;
  padding: 0 !important; }

body .p-number {
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 64px;
  line-height: 28px;
  color: #e8e8e8; }
body .green-text {
  color: #66a900; }
body .first-int {
  width: 100%;
  position: relative; }
body .second-int {
  width: 100%;
  position: relative; }
body #wrapper {
  max-width: 100%;
  margin: 0 auto; }
  body #wrapper .top-shape {
    width: 100%; }
  body #wrapper header {
    background: url("../img/images/background-img.jpg") no-repeat;
    background-size: cover;
    background-position: 100% 100%; }
    body #wrapper header nav {
      text-align: center; }
      body #wrapper header nav img {
        padding-top: 36px;
        float: left; }
      body #wrapper header nav ul {
        padding-top: 36px;
        text-align: right;
        font-size: 0; }
        body #wrapper header nav ul li {
          display: inline; }
          body #wrapper header nav ul li a {
            display: inline-block;
            text-decoration: none !important;
            margin: 16px;
            font-family: "PT Serif";
            font-size: 14px;
            color: #ffffff; }
        body #wrapper header nav ul li:last-child a {
          margin-right: 0px; }
        body #wrapper header nav ul li:first-child a {
          margin-left: 0px; }
    body #wrapper header .heading {
      padding-left: 47px;
      padding-top: 236px; }
      body #wrapper header .heading h1 {
        text-shadow: 0px 2px 16px rgba(0, 0, 0, 0.3);
        font-size: 50px;
        font-family: "Poppins";
        color: #ffffff;
        text-transform: uppercase;
        line-height: 52px;
        font-weight: 500; }
      body #wrapper header .heading p {
        padding-top: 20px;
        font-family: "PT Serif";
        font-size: 16px;
        color: #ffffff;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.5px;
        padding-bottom: 255px; }
  body #wrapper #about #background-girl-image-1 {
    background: url("../img/images/girl-image-1-bg.png");
    background-size: cover;
    background-position: 100%;
    padding-top: 100px; }
  body #wrapper #about #background-girl-image-2 {
    background: url("../img/images/girl-image-2-bg.png");
    background-size: cover;
    background-position: 1%;
    padding-top: 100px;
    padding-bottom: 100px; }
  body #wrapper #about .first-article {
    padding-top: 65px;
    padding-bottom: 65px; }
  body #wrapper #about .second-article {
    padding-bottom: 75px; }
  body #wrapper #about h2 {
    display: inline;
    font-family: "Poppins";
    font-size: 30px;
    line-height: 28px;
    color: #333333; }
  body #wrapper #about p:first-of-type {
    padding-top: 40px; }
  body #wrapper #about .lead {
    font-family: "Poppins";
    font-size: 16px;
    line-height: 30px;
    color: #999999;
    letter-spacing: 1px; }
    body #wrapper #about .lead img {
      padding-right: 10px; }
  body #wrapper #first-interlude .container .row-1 {
    position: absolute;
    margin-top: -8em; }
  body #wrapper #first-interlude .container .col-md-3:last-of-type {
    padding-top: 20px; }
  body #wrapper #first-interlude .container h2 {
    display: inline;
    font-family: "PT Serif";
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff; }
  body #wrapper #first-interlude .container img {
    margin-top: 40px; }
  body #wrapper #first-interlude .container p {
    font-family: "Poppins Light";
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    letter-spacing: -0.3px;
    padding-top: 10px; }
  body #wrapper #first-interlude .container .btn {
    height: 57px;
    width: 270px;
    background-color: #ffffff; }
    body #wrapper #first-interlude .container .btn p {
      font-family: "PT Serif";
      font-size: 16px;
      color: #66a900;
      line-height: 26px; }
  body #wrapper #second-section .col-sm-6 {
    margin-top: 40px; }
  body #wrapper #second-section #carousel {
    position: relative; }
    body #wrapper #second-section #carousel #carousel > li {
      width: 40%;
      height: 100%; }
    body #wrapper #second-section #carousel li {
      position: absolute;
      text-align: center;
      color: white;
      border-radius: 10px;
      height: 100%;
      -webkit-user-select: none; }
    body #wrapper #second-section #carousel div {
      position: absolute;
      text-align: center;
      color: white;
      border-radius: 10px;
      height: 100%;
      -webkit-user-select: none; }
    body #wrapper #second-section #carousel .client-1 {
      opacity: 1;
      z-index: 500;
      left: 11.5%;
      display: block;
      height: auto;
      float: left;
      border: 0;
      width: 370px;
      height: auto;
      transform: translate(30px, 30px);
      transition-duration: 1s; }
    body #wrapper #second-section #carousel .client-2 {
      opacity: 0.1;
      z-index: 300;
      left: 9%;
      display: block;
      height: auto;
      float: left;
      width: 100%;
      border: 0;
      width: 370px;
      height: auto;
      transition-duration: 1s; }
    body #wrapper #second-section #carousel .client-3 {
      opacity: 0.1;
      z-index: 300;
      left: 24%;
      display: block;
      height: auto;
      float: left;
      width: 100%;
      border: 0;
      width: 370px;
      height: auto;
      transition-duration: 1s; }
    body #wrapper #second-section #carousel .car-left {
      width: 34px;
      height: 34px;
      background-color: #333333;
      border-radius: 50%;
      left: 16%;
      margin-top: 150px;
      z-index: 600;
      font-size: 18px;
      line-height: 35px; }
    body #wrapper #second-section #carousel .car-left:hover {
      background-color: #66a900;
      border: solid 4px #BBD196;
      line-height: 27px; }
    body #wrapper #second-section #carousel .car-right {
      width: 34px;
      height: 34px;
      background-color: #333333;
      border-radius: 50%;
      left: 33%;
      margin-top: 150px;
      z-index: 600;
      font-size: 18px;
      line-height: 35px; }
    body #wrapper #second-section #carousel .car-right:hover {
      background-color: #66a900;
      border: solid 4px #BBD196;
      font-size: 18px;
      line-height: 27px; }
  body #wrapper #second-section #background-girl-image-3 {
    padding-top: 139px;
    background: url("../img/images/girl-image-3-bg.png") no-repeat;
    background-size: cover;
    background-position: 100%; }
    body #wrapper #second-section #background-girl-image-3 .third-article {
      padding-bottom: 200px; }
      body #wrapper #second-section #background-girl-image-3 .third-article p {
        font-family: "PT Serif";
        font-size: 14px;
        line-height: 24px; }
      body #wrapper #second-section #background-girl-image-3 .third-article .padding-maker {
        padding-top: 60px; }
  body #wrapper #second-section h2 {
    display: inline;
    font-family: "Poppins";
    font-size: 30px;
    line-height: 28px;
    color: #333333; }
  body #wrapper #second-section .accept-icon {
    padding-right: 10px; }
  body #wrapper #second-section h3 {
    font-family: "Poppins";
    font-size: 18px;
    line-height: 28px; }
  body #wrapper #second-section .container .row .col-md-offset-6 p {
    font-family: "PT Serif";
    font-size: 14px;
    line-height: 24px;
    padding-left: 40px;
    letter-spacing: -0.5px; }
  body #wrapper #second-section .container .row .col-md-offset-6 p:nth-child(1) {
    padding-top: 50px;
    padding-bottom: 15px; }
  body #wrapper #second-section .container .row .col-md-offset-6 img {
    padding-top: 40px;
    position: absolute;
    float: left; }
  body #wrapper #second-section .container .row .col-md-offset-6 h4 {
    font-family: "Poppins";
    font-size: 16px;
    line-height: 14px;
    padding-left: 40px; }
  body #wrapper #third-section {
    padding-top: 200px; }
    body #wrapper #third-section h2 {
      display: inline;
      font-family: "Poppins";
      font-size: 40px;
      line-height: 28px;
      color: #333333; }
    body #wrapper #third-section p {
      font-family: "PT Serif";
      font-size: 16px;
      line-height: 30px; }
    body #wrapper #third-section p:first-of-type {
      padding-top: 50px; }
  body #wrapper #prices-section #prices {
    display: block;
    background-image: url("../img/images/price-background.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 150px; }
    body #wrapper #prices-section #prices .container .box {
      z-index: 1;
      width: 100%;
      max-width: 350px;
      display: inline-block;
      height: 460px;
      -webkit-box-shadow: 0px 0px 45px -10px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 45px -10px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 45px -10px rgba(0, 0, 0, 0.3);
      text-align: center;
      padding: 0;
      padding: 50px 0 100px;
      margin-top: 50px; }
      body #wrapper #prices-section #prices .container .box h2 {
        display: inline;
        font-family: "Poppins";
        font-size: 40px;
        line-height: 28px;
        color: #333333; }
      body #wrapper #prices-section #prices .container .box p {
        font-family: "PT Serif";
        font-size: 16px;
        line-height: 30px; }
      body #wrapper #prices-section #prices .container .box h3 {
        font-size: 14px;
        line-height: 28px;
        text-transform: uppercase;
        font-family: "Poppins"; }
      body #wrapper #prices-section #prices .container .box i {
        margin-left: 10px; }
      body #wrapper #prices-section #prices .container .box .button:hover {
        background: #66a900;
        cursor: pointer;
        transition-duration: 0.5s;
        color: #ffffff; }
      body #wrapper #prices-section #prices .container .box h3:hover {
        color: #66a900;
        cursor: pointer;
        text-decoration: underline;
        transition-duration: 0.3s; }
      body #wrapper #prices-section #prices .container .box p {
        padding-top: 10px;
        font-size: 14px;
        line-height: 28px;
        font-family: "PT Serif";
        padding: 10px;
        font-weight: bold; }
      body #wrapper #prices-section #prices .container .box .button {
        background: #f6f6f6;
        height: 42px;
        padding: 0;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        line-height: 42px;
        border-left: 3px solid #66a900;
        border-right: 3px solid #66a900;
        padding-top: 10px;
        font-size: 14px;
        line-height: 28px;
        font-family: "Poppins"; }
    body #wrapper #prices-section #prices .container .box-1 {
      background-image: url("../img/images/price-box-overlay-1.png");
      background-repeat: no-repeat;
      background-position: bottom center; }
    body #wrapper #prices-section #prices .container .box-2 {
      background-image: url("../img/images/price-box-overlay-2.png");
      background-repeat: no-repeat;
      background-position: bottom center; }
    body #wrapper #prices-section #prices .container .box-3 {
      background-image: url("../img/images/images/price-box-overlay-3.png");
      background-repeat: no-repeat;
      background-position: bottom center; }
  body #wrapper #second-interlude .container .row-1 {
    position: absolute;
    margin-top: -10em; }
  body #wrapper #second-interlude .container .col-md-3:last-of-type {
    padding-top: 20px; }
  body #wrapper #second-interlude .container h2 {
    display: inline;
    font-family: "PT Serif";
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff; }
  body #wrapper #second-interlude .container img {
    margin-top: 40px; }
  body #wrapper #second-interlude .container p {
    font-family: "Poppins Light";
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    letter-spacing: -0.3px;
    padding-top: 10px; }
  body #wrapper #second-interlude .container .btn {
    height: 57px;
    width: 270px;
    background-color: #ffffff; }
    body #wrapper #second-interlude .container .btn p {
      font-family: "PT Serif";
      font-size: 16px;
      color: #66a900;
      line-height: 26px; }
  body #wrapper footer {
    padding-top: 120px;
    padding-bottom: 20px; }
    body #wrapper footer img {
      padding-right: 10px; }
    body #wrapper footer p {
      font-family: "PT Serif";
      font-size: 14px;
      line-height: 28px; }
    body #wrapper footer li {
      display: inline-block;
      margin: 10px;
      float: right; }
      body #wrapper footer li a {
        font-family: "PT Serif";
        font-size: 14px;
        line-height: 28px;
        color: #aeaeae; }
      body #wrapper footer li a:hover {
        font-size: 16px;
        text-decoration: underline;
        transition-duration: 10s; }

@media (max-width: 1200px) {
  .arrow {
    display: none; } }
@media (max-width: 768px) {
  body #wrapper .p-number {
    font-size: 72px; }
  body #wrapper header {
    background-position: left;
    padding-bottom: 250px; }
    body #wrapper header .heading {
      padding-top: 200px; }
      body #wrapper header .heading h1 {
        font-size: 60px;
        line-height: 64px; }
      body #wrapper header .heading p {
        font-size: 26px;
        line-height: 34px;
        letter-spacing: 0.7px; }
  body #wrapper #about h2 {
    font-size: 42px;
    line-height: 42px; }
  body #wrapper #about p {
    font-size: 22px;
    line-height: 32px; }
  body #wrapper #about p:first-of-type {
    padding-top: 20px; }
  body #wrapper #about .lead {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0px; }
  body #wrapper #first-interlude .row-1 h2 {
    font-size: 32px;
    line-height: 16px;
    font-weight: 700;
    color: #ffffff; }
  body #wrapper #first-interlude .row-1 p {
    font-family: "Poppins Light";
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 0px; }
  body #wrapper #first-interlude .row-1 .btn {
    height: 57px;
    width: 200px;
    background-color: #ffffff; }
    body #wrapper #first-interlude .row-1 .btn p {
      font-family: "PT Serif";
      font-size: 16px;
      color: #66a900;
      line-height: 26px; }
  body #wrapper #first-interlude .first-int {
    height: 220px; }
  body #wrapper #second-section #background-girl-image-3 {
    background-position: 0%; }
    body #wrapper #second-section #background-girl-image-3 .third-article {
      padding-bottom: 100px; }
      body #wrapper #second-section #background-girl-image-3 .third-article p {
        font-size: 20px;
        line-height: 32px; }
      body #wrapper #second-section #background-girl-image-3 .third-article h2 {
        font-size: 42px; }
      body #wrapper #second-section #background-girl-image-3 .third-article .padding-maker {
        padding-top: 30px; }
      body #wrapper #second-section #background-girl-image-3 .third-article .accept-icon {
        padding-right: 10px; }
      body #wrapper #second-section #background-girl-image-3 .third-article h3 {
        font-size: 26px;
        line-height: 28px; }
  body #wrapper #second-section .container .row .col-md-offset-6 h2 {
    font-size: 42px; }
  body #wrapper #second-section .container .row .col-md-offset-6 p {
    font-size: 22px;
    line-height: 34px; }
  body #wrapper #second-section .container .row .col-md-offset-6 p:nth-child(1) {
    padding-top: 40px;
    padding-bottom: 10px; }
  body #wrapper #second-section .container .row .col-md-offset-6 #student-info {
    text-align: right;
    padding-top: 40px; }
  body #wrapper #second-section .container .row .col-md-offset-6 img {
    padding-top: 25px; }
  body #wrapper #second-section .container .row .col-md-offset-6 h4 {
    font-size: 20px;
    padding-left: 40px;
    float: right; }
  body #wrapper #third-section .container h2 {
    font-size: 42px; }
  body #wrapper #third-section .container p {
    font-family: "PT Serif";
    font-size: 22px;
    line-height: 32px; }
  body #wrapper #third-section .container .box {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    margin-top: 50px; }
    body #wrapper #third-section .container .box h3 {
      font-size: 22px;
      line-height: 32px; }
    body #wrapper #third-section .container .box i {
      margin-left: 10px; }
    body #wrapper #third-section .container .box p {
      font-size: 18px;
      line-height: 32px;
      padding: 10px 30px;
      font-weight: bold; }
    body #wrapper #third-section .container .box .button {
      font-size: 22px; }
  body #wrapper #carousel {
    display: none; }
  body #wrapper .arrow {
    display: none; }
  body #wrapper #second-interlude .row-1 h2 {
    font-size: 32px;
    line-height: 16px;
    font-weight: 700;
    color: #ffffff; }
  body #wrapper #second-interlude .row-1 p {
    font-family: "Poppins Light";
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 0px; }
  body #wrapper #second-interlude .row-1 .btn {
    height: 57px;
    width: 200px;
    background-color: #ffffff; }
    body #wrapper #second-interlude .row-1 .btn p {
      font-family: "PT Serif";
      font-size: 16px;
      color: #66a900;
      line-height: 26px; }
  body #wrapper #second-interlude .second-int {
    height: 400px; } }

/*# sourceMappingURL=main.css.map */
